
<%= javascript_include_tag "jquery-1.4.4.min" %>

<%= javascript_include_tag "jquery.nivo.slider.pack" %>


<div id="slide_holder">
<div id="slider">
	<!-- links to products not added yet!!! -->
<a href=''> <%= image_tag 'slide_00.jpg', :title=>"<h2>Chip Paperclip Holder</h2><span>price:<b>Rs. 2557.00</b></span><a href=''>SHOP NOW</a>" %>
</a>
                
                            
<a href=''> <%= image_tag 'slide_01.jpg', :title=>"<h2>Modern Wire Holder</h2><span>price:<b>Rs. 2557.00</b></span><a href=''>SHOP NOW</a>" %>
</a>

<a href=''> <%= image_tag 'slide_02.jpg', :title=>"<h2>Colored Pencil Set</h2><span>price:<b>Rs. 2557.00</b></span><a href=''>SHOP NOW</a>" %>
</a>
                            
                    
	</div>
</div>    
<script type="text/rocketscript">
$(window).load(function() {
	$('#slider').nivoSlider({
		effect:'fade', //Specify sets like: 'fold,fade,sliceDown'
		slices:9,
		animSpeed:500, //Slide transition speed
		pauseTime:5000,
		startSlide:0, //Set starting Slide (0 index)
		directionNav:false, //Next & Prev
		directionNavHide:false, //Only show on hover
		controlNav:true, //1,2,3...
		controlNavThumbs:false, //Use thumbnails for Control Nav
      	controlNavThumbsFromRel:false, //Use image rel for thumbs
		controlNavThumbsSearch: '.jpg', //Replace this with...
		controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
		keyboardNav:true, //Use left & right arrows
		pauseOnHover:true, //Stop animation while hovering
		manualAdvance:false, //Force manual transitions
		captionOpacity:1, //Universal caption opacity
		beforeChange: function(){},
	  afterChange: function(){},
	  slideshowEnd: function(){}

	});
});
</script>
<body class="default">
		<div id="center_column" class="center_column">
<!-- MODULE Home Featured Products -->
<div id="featured-products_block_center">
	<h4>Featured products</h4>
		<div class="block_content">
			<ul>
				<% @products.each do |product| %>
					<li class="ajax_block_product">
					<a class="product_image" href= <%= product.image_url.to_s %> ><%= image_tag product.image_url.to_s, :width=> "200", :height=> "200" %></a>
					<div>
						<h5><%= link_to product.name, home_view_path(product) %></h5>
						<span class="price">₹ <%= product.price %></span>
						<p class="buttons_bottom_block" > <a href="/home/view" class="button" title="View">View</a> </p>
					</div>
				</li>
				<% end %>
			</ul>

		</div>
	</div>

<!-- /MODULE Home Featured Products -->		
</div>
</body>