<div id="center_column" class="center_column">
  <%= stylesheet_link_tag    "thickbox", :media => "screen" %>
  <%= javascript_include_tag "jquery-1.2.6" %>
  <%= javascript_include_tag "thickbox" %>
 
<div class="breadcrumb">
<div class="breadcrumb_inner">
<a href="/home" title="return to Home">Home</a><span class="navigation-pipe">&gt;</span></div>
</div>
 <div id="primary_block" class="clearfix">
<h1><%= @product.name %></h1>
 
<div id="pb-right-column">
 
<div id="image-block">
	<a href=<%= @product.image_url.to_s %> class="thickbox">
<%= image_tag @product.image_url.to_s, :width=> "300", :height=> "300", :id=> "bigpic" %>
</a>
</div>
</div>

</div>
 
<div id="pb-left-column">
<div id="short_description_block">
<div id="short_description_content" class="rte align_justify"><%= @product.description %></div>
</div>
  
<p class="price">
<span class="on_sale">On sale!</span>
<span class="our_price_display">
<span id="our_price_display" class="price">₹ <%= @product.price %></span>
</span>
</p>
<span id="availability_label">Availability:</span>
<span id="availability_value">
</span>
</p>
 
<p id="pQuantityAvailable">
<span id="quantityAvailable">98</span>
<span style="display:none;" id="quantityAvailableTxt">item in stock</span>
<span id="quantityAvailableTxtMultiple">items in stock</span>
</p>
<h2>Comments</h2>
<%= render @product.comments %>
<div id="ajax-comments">
	</div>
<h2>Add a comment:</h2>
<%= render "comments/form" %>
<div class="clearblock"></div>
</div>
</div>
 